<!--
  Generated template for the AddToAlbumPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add to album</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
   <ion-item>
      <ion-label floating>New album's name</ion-label>
      <ion-input #titleInput type="text"></ion-input>
   </ion-item>
   <ion-item  [hidden]="_titleIsEmpty()">
      <button type="button" ion-button (click)="addTo('new-'+titleInput.value)">
         <ion-icon name="add"></ion-icon>
         To new album
      </button>
   </ion-item>
   <ion-item *ngFor="let album of albums" (click)="addTo(album.title)">
      {{album.title}}
   </ion-item>
</ion-list>
</ion-content>
<input-files></input-files>
