<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Albums</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-item *ngFor="let album of albums" (click)="goToAlbum($event, album.id)">
      <ion-thumbnail item-left>
         <img [src]="album.photos[0].url"/>
      </ion-thumbnail>
      <h2>
        {{album.title}}
      </h2>
      <p>
         {{album.photos.length}} photos
      </p>
    </ion-item>
  </ion-list>
</ion-content>
