<!--
  Generated template for the PhotosDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>photos-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
