<!--
Generated template for the Map page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
       <button *ngIf="isLoggedOut()" ion-button icon-only (click)="logIn()">
          <ion-icon name="log-in"></ion-icon>
       </button>
       <button *ngIf="! isLoggedOut()" ion-button icon-only (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
       </button>
       <button *ngIf="! isLoggedOut()" ion-button icon-only (click)="save()">
          <ion-icon name="md-cloud-upload"></ion-icon>
       </button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">
    <google-maps #map [APIKey]="API_KEY" [mapsAPIUrl]="mapsAPIUrl"></google-maps>
    <div style="display:none" #content></div>

    <ion-fab *ngIf="uid" #fab bottom center>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="fromFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab (click)="goToAddPage('local')"><ion-icon name="photos"></ion-icon></button>
            <button ion-fab (click)="addPhotoFromCamera()"><ion-icon name="camera"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
            <button ion-fab (click)="drawBetweenAlbums()"><ion-icon name="brush"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab *ngIf="uid" #fab bottom right>
        <button ion-fab (click)="navigate()">
            <ion-icon name="navigate"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab *ngIf="! uid" #fab bottom right>
        <button ion-fab (click)="pauseNavigate()">
            <ion-icon name="pause"></ion-icon>
        </button>
        <button ion-fab (click)="stopNavigate()">
            <ion-icon name="square"></ion-icon>
        </button>
    </ion-fab>
    <div id="aboveMap">
    </div>



</ion-content>
<input-files #input accept="image/*" hidden="true" multiple="true"></input-files>
