page-map,  #map-container{
  width: 100%;
  height: 100%;
}
.info-window .info-window__img {
   max-width: 75vw;
   max-height: 65vh;
}

@media screen and (orientation: landscape){
   .info-window .info-window__img {
      max-width: 75vw;
      max-height: 40vh;
   }
}
#aboveMap{
    position: absolute; top: 10px; left: 10px; z-index: 99;
}
