<!--
Generated template for the AddToAlbumPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>OverLayView photos</ion-title>
        <ion-buttons start>
            <button ion-button (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab *ngIf="uid" #fab bottom center>
        <button ion-fab><ion-icon name="close"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <ion-item>
            <ion-label floating>Photo List</ion-label>
        </ion-item>


        <ion-row *ngFor="let date of photoSubList; let i = index">
            <ion-col *ngFor="let row of date">
                <div>
                    <h2>
                        {{ row[ 0 ].date.getDate() }} /
                        {{ row[ 0 ].date.getMonth( ) + 1 }} /
                        {{ row[ 0 ].date.getFullYear( ) }}
                    </h2>
                </div>
                <div *ngFor="let photo of row" class="cover-photo"
                    [ngStyle]="{ 'background-image': 'url(' + escapeHtml( photo.getUrl() ) + ')'}">
                </div>
        </ion-col>
    </ion-row>
</ion-list>
</ion-content>
