<!--
  Generated template for the AddToAlbumPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Album Facebook</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="selectAlbum" padding>
    <ion-row *ngFor="let row of getArrayOfArray(); let i = index">
        <ion-col *ngFor="let album of row">
           <div (click)="albumClicked( album.id )" [ngClass]="getClassForAlbum( album.id )" class="cover-album"
               [ngStyle]="{ 'background-image': 'url(' + album.getSmallestImage().source + ')'}">
                <p class="cover-info">{{ album.name }} - {{ album.photoCount }}</p>
           </div>
        </ion-col>
    </ion-row>
    <ion-item *ngIf="albumSelectedPositionError.length > 0">
        <ion-icon name="information-circle"></ion-icon>Un ou plusieurs album(s) séléctionné(s) ne possède(nt) pas de position,<br>vous pouvez les ajouter depuis Facebook
    </ion-item>
    <button *ngIf="albumSelected.length > 0" ion-button full (click)="addAlbum()">Ajouter ({{ albumSelected.length }})</button>

</ion-content>
