.cover-album{
    border: 4px solid #a1a1a1;
    width: 98%;
    height: 200px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    padding: 0px;
    cursor: pointer;
}

.cover-info{
    height:20px;
    background-color: #ffffff;
    border-top: 1px solid rgb(150, 150, 150);
    margin-top: 172px;
    color: black;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    opacity: 0.5;
}
.album-selected{
    border: 4px solid rgb(43, 106, 157);
}
.album-pos-unknow{
    border: 4px solid rgb(215, 51, 51);
}
