google-maps {

}

#map-container{
    width: 100%;
    height: 100%;
}
.info-window .info-window__img {
    max-width: 75vw;
    max-height: 65vh;
}
img{
    margin: 0px;
    padding: 0px;
}
.picture{
    border: 1px solid #a1a1a1;
    width: 30px;
    height: 30px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    padding: 0px;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 2px;
}
.cover-photo{
    border: 1px solid #a1a1a1;
    width: 150px;
    height: 150px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    padding: 0px;
    display:inline-block;
}
.marker{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
}
.marker-opened{
    overflow-y: scroll;
}
.marker p{
    margin-left: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (orientation: landscape){
    .info-window .info-window__img {
        max-width: 75vw;
        max-height: 40vh;
    }
}
.photo-animated{
    width: 640px;
    height: 960px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    padding: 0px;
    left: -640px;
    top:10px;
    opacity: 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.65);
    text-shadow: 0px 0px 4px rgba(73, 73, 73, 1);
    text-transform: uppercase;
    color: white;
}
.photo-animated p{
    background-color: rgb(47, 164, 222);
    padding-top: 2px;
    padding-bottom: 2px;
}
.transition-opacity {
    -webkit-animation: fadeInFromNone 7s ease-out;
    -moz-animation: fadeInFromNone 7s ease-out;
    -o-animation: fadeInFromNone 7s ease-out;
    animation: fadeInFromNone 7s ease-out;
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display: block;
        opacity: 0;
    }

    15%{
        display: block;
        opacity: 0.1;

    }

    50% {
        display: block;
        opacity: 1;
    }

    85%{
        display: block;
        opacity: 0.9;

    }

    100% {
        display: block;
        opacity: 0;
    }
}
